.my-applications-page{
    background:#f4f7fc;
    min-height:100vh;
    padding:40px;
}

.my-applications-title{
    text-align:center;
    color:#0e0e0e;
    font-size:38px;
    margin-bottom:35px;
}

.my-applications-card{
    background:white;
    border-radius:15px;
    padding:25px;
    border-left:5px solid #2563eb;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
    margin-bottom:25px;
    width:50%;
}

.my-applications-card:hover{
    transform:translateY(-5px);
    box-shadow:0 10px 20px rgba(0,0,0,.15);
}

.my-job-title{
    color:#010612;
    margin-bottom:10px;
}

.my-company-name,
.my-status{
    color:#212020;
    margin:8px 0;
    font-size:17px;
}

.my-cancel-btn{
    margin-top:20px;
    background:#f02727;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
    transition:.3s;
}

.my-cancel-btn:hover{
    background:#dc2626;
}